<h1>Users Table</h1>
<table class="table table-bordered">
  <thead>
  <th>Username</th>
  <th>Email</th>
  <th>Address</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index">
    <td>
      {{user.username}}
    </td>
    <td>
      {{user.email}}
    </td>
    <td>
      {{user.address}}
    </td>
    <td>
      <i (click)="deleteById(user._id, i)" class="fa fa-close"></i>
    </td>
  </tr>
  </tbody>
</table>

