
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded no-margin">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <h3>Edirect Code Challenge</h3>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12 boxed-content">
              <div class="container text-center">
                <div class="row">
                  <div class="col-12 boxed-content">

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" validate>
                      <div class="form-group">
                        <label class="center-block">Username:
                          <input class="form-control" formControlName="username" type="text">
                        </label>
                      </div>
                      <div class="form-group">
                        <label class="center-block">Password:
                          <input class="form-control" formControlName="password" type="password">
                        </label>
                      </div>
                      <button type="submit"
                              [disabled]="loginForm.pristine" class="btn btn-success">Login</button>
                      <button type="button"
                              (click)="router.navigate(['/register'])" class="btn btn-info"> Register
                      </button>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
