<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded no-margin">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <h3>Edirect Code Challenge</h3>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 boxed-content">
            <div class="container">
              <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" validate>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="d-block">Username:
                        <input class="form-control" formControlName="username" type="text">
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="d-block">Password:
                        <input class="form-control" formControlName="password" type="password">
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="d-block">Address:
                        <input class="form-control" formControlName="address" type="address">
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="d-block">Email:
                        <input class="form-control" formControlName="email" type="email">
                      </label>
                    </div>

                  </div>
                  <div class="col-12">
                    <a class="btn btn-danger" routerLink="/login">Back</a>
                    <button type="submit"
                            [disabled]="formRegister.pristine" class="btn btn-success">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


