<div class="card-body">
  <div class="row">
    <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">To do list</li>
      <li class="list-group-item" *ngFor="let item of toDoList; let k = index">
        <div class="col-10">
          <input type="checkbox" [checked]="item.state === 1" (change)="checkBoxState(item, k)">
          {{item.name}}
        </div>
        <div class="col-2">
          <span (click)="deleteTask(item, k)"><i class="fa fa-close"></i></span>
        </div>
      </li>
      <li class="list-group-item" *ngIf="toDoList.length === 0 ">
        No data available
      </li>
    </ul>
    </div>
  </div>
  <div class="row">

    <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Done list</li>
      <li class="list-group-item" *ngFor="let item of doneList; let k = index" >
        <div class="col-10">
          <input type="checkbox" [checked]="item.state === 1" (change)="checkBoxState(item, k)">
          <label  role="button" (mouseenter)="showTooltip(k)" (mouseleave)="tempIndex = null">{{item.name}}</label>
          <div *ngIf=" k === tempIndex" class="tooltip" [ngClass]="{'show': k === tempIndex}"  role="tooltip">
            <div class="tooltip-inner font-italic text-sm-left">
              Created: {{item.created_at  | date:'fullDate'}} <br>
              Finished: {{item.updated_at  | date:'fullDate'}}
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="doneList.length === 0 ">
        No data available
      </li>
    </ul>
  </div>
  </div>
</div>
<div class="card-footer">
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label class="center-block">
          <input class="form-control" type="text" name="name" #nameInpt (keypress)="keyDownFunction($event, nameInpt)">
        </label>
      </div>
    </div>
    <div class="col-4">
      <button type="submit" (click)="addNewTask(nameInpt)" class="btn btn-success btn-block">add</button>
    </div>
  </div>
</div>


