<div class="card mt-3">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <label *ngIf="!editMode; else editModeTemp" >
          {{project.name}}
        </label>
        <ng-template #editModeTemp>
          <div class="row">
            <div class="col-10">
              <input class="form-control" type="text" value="{{project.name}}" (keypress)="saveEditMode(project._id, $event)" #inputEdit>
            </div>
            <div class="col-2">
              <span (click)="saveEditMode(project._id, inputEdit, true)" ><i class="fa fa-check"></i></span>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="col-3">
        <span (click)="toggleEditMode()" ><i class="fa fa-pencil"></i></span>
        <span (click)="removeProject(project._id, index)" ><i class="fa fa-close"></i></span>
      </div>
    </div>
  </div>
  <app-task-list [project]="project"></app-task-list>
</div>
