/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.no-margin{
  margin: 0;
}

.boxed-content{
  padding:10px;
}
