<div class="row">
  <div class="col-4" *ngFor="let project of projects; let i = index">
    <app-project-card [project]="project" [index]="i" (deleteProject)="removeProject($event)" ></app-project-card>
  </div>
  <div class="col-4">
    <div  class="card bg-light mt-3 boxed-content">
      <div class="container">
        <div class="card-body">
          <h3 class="card-title"> Create Project</h3>

          <form [formGroup]="createProjetForm" (ngSubmit)="onSubmit()" validate>
            <div class="form-group">
              <input class="form-control" formControlName="name" type="text">
            </div>
            <button type="submit"
                    [disabled]="createProjetForm.pristine" class="btn btn-success btn-block">Save</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

