<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded no-margin">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLink="projects" routerLinkActive="active">
                <a class="nav-link" > Projects </a>
              </li>
              <li class="nav-item" routerLink="users" routerLinkActive="active">
                <a class="nav-link" > Users </a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" (click)="logout()"> Log Out</button>
            </div>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12 boxed-content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
